/////
/// Colours
///
/// This file creates a `colour(...)` function that can be used throughout the
/// web application. The colour naming scheme is roughly aligned with BEM, making
/// colour referencing consistent throughout the webapp.
/////

$colours: (
  card__border                      : #EEEEEE,
  card--background                  : #ffffff,
  card__shadow                      : rgba(0,0,0,0.35),
  highlight                         : #EF4135,
  media__button--background         : rgba(0, 0, 0, 0.7),
  media__placeholder--background    : #E1E1E1,
  page--background                  : #cccccc,
  text                              : #000000,
);

@function colour($requested-colour) {
  @if not map-has-key($colours, $requested-colour) {
    @warn "The colour '#{$requested-colour}' is not valid.";
    @return '#ffffff';
  }
  @else {
    @return map-get($colours, $requested-colour);
  }
}